*.pyc
/__init__.py
# These are files that are generated within the source tree by the
# ppremake system.
Makefile
pp.dep
/built/
*Opt?-*
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
*.log
x64
Win32
src/configfiles/40_direct.prc
src/dcparser/dcLexer.cxx
src/dcparser/dcParser.cxx
src/dcparser/dcParser.h

# Python 3
**/__pycache__
